.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  padding-top: 6.25rem;
  text-align: center;
  letter-spacing: -0.05em;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 0;
}

.headingJp {
  text-align: center;
  font-weight: 400;
  margin-top: 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  margin: 1rem 0 1rem;
  text-align: center;
  color: #696969;
  display: flex;
}

.text p {
  color: #111;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}
.text img {
  width: 100%;
  max-width: 768px;
}

/* .text table tr td:nth-of-type(1) {
  border-top: 1px solid #bbe4a3;
  border-bottom: 1px solid #bbe4a3;
  padding: 5px 8px;
  background-color: #e6f5e0;
  width: 146px;
  font-size: 14px;
} */

.h1 {
  font-size: 23px;
  color: grey;
}

/* .text table tr td:nth-of-type(2) {
  border-top: 1px solid #bbe4a3;
  border-bottom: 1px solid #bbe4a3;
  padding: 5px 8px;
  font-size: 14px;
} */
